@import "./variable.scss";

.section__service--heading {
        padding-left: 10px;
        padding-right: 10px;
    }

.create_icon {
    background-color: $primary-color;
}

@media (min-width: 300px) {
    .section__service--heading {
        padding-left: 49px;
        padding-right: 49px;
    }
}