@import "./variable.scss";

body {
    margin: auto;
}

ul {
    @include list-reset;
}

button,
a {
    cursor: pointer;
}

img,
button,
input {
    width: 100%;
}

.section__service--heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: $heading-color;
}

.card-button {
    @include card-button;
}

section {
    margin-top: 51px;
}

section article {
    margin-top: 43px;
    margin-bottom: 43px;
}

article:nth-child(odd) .card {
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
    border-radius: 24px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 43px;
    padding-top: 43px;
}

.article__design--heading,
.article__front-end--heading,
.article__back-end--heading {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: $heading-color;
}

.article__design--paragraph,
.article__front-end--paragraph,
.article__back-end--paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $paragraph-color;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (min-width: 300px) {
    section {
        margin-top: 102px;
    }
    
    section article {
        margin-top: 86px;
        margin-bottom: 86px;
    }

    article:nth-child(odd) .card {
        padding-left: 34px;
        padding-right: 34px;  
    } 
}