@import "./variable.scss";

body {
    font-family: 'myPoppins', Arial, Helvetica, sans-serif;
    color: $heading-color;
    max-width: 1440px;
    margin: auto;
}

h1 {
    font-family: 'myHeebo';
}

ul {
    @include list-reset;
}

button,
a {
    cursor: pointer;
}

a {
    text-decoration: none;
}

img,
button,
input {
    width: 100%;
}

figure {
    margin: 0;
} 

