@import "./variable.scss";

.form__label {
    font-size: 10px;
    line-height: 15px;
    color: #828282;
}

// Form

.form__button,
.form__wrapper {
    border-radius: 12px;
}

.form__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: $white;
    height: 47px;
    padding-left: 19px;
    padding-right: 4px;
}

.form__input,
.form__button {
    height: 100%;
    max-height: 39px;
}

 .form__input {
    border: solid 1px transparent;
    background-color: transparent;
 }

 .form__button {
    font-size: 14px;
    line-height: 21px;
    color: $white;
    background: $primary-color;
    border: solid 1px $primary-color;
    max-width: 71px;
 }

 @media (min-width: 650px) {
     .form__wrapper {
         max-width: 400px;
     }
 }

 @media (min-width: 950px) {
     
    .form__label {
        font-size: 14px;
        line-height: 21px;
    }
 }