@import "./variable.scss";

.masthead {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.masthead__title {
    font-weight: 800;
}

.header__intro--heading,
.header__article--heading,
.masthead__title {
    font-size: 24;
}

.header__article,
.header__wrapper div,
.header figure,
.masthead {
    padding-left: 10px;
    padding-right: 10px;
}

.header__intro,
.header__intro--heading,
.header__article--heading,
.header__form--label,
.form__button {
    font-weight: 500;
}

.header__intro,
.header__article--paragraph {
    line-height: 18px;
}

.header__intro {
    color: $primary-color;
    font-size: 12px;
}

.header__intro--heading,
.header__article--heading {
    line-height: 36px;
    color: $heading-color;
    margin: 0;
}

.header figure {
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    margin-bottom: 22px;
}

.header__image {
    border-radius: 18px;
}

.header__article--paragraph {
    font-weight: normal;
    font-size: 12px;
    color: $paragraph-color;
    margin-top: 33px;
    margin-bottom: 33px;
}

.header__form--label {
    font-size: 10px;
    line-height: 15px;
    color: #828282;
}

// Form

.form__button,
.form__wrapper {
    border-radius: 12px;
}

.form__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: $white;
    height: 47px;
    padding-left: 19px;
    padding-right: 4px;
}

.header__input,
.form__button {
    height: 100%;
    max-height: 39px;
}

 .header__input {
    border: solid 1px transparent;
    background-color: transparent;
 }

 .form__button {
    font-size: 14px;
    line-height: 21px;
    color: $white;
    background: $primary-color;
    border: solid 1px $primary-color;
    max-width: 71px;
 }

 @media(min-width: 300px) {
    main {
        margin-top: 48px;
    }

    .masthead,
    .header figure {
        padding-left: $padding-left-mobile;
        padding-right:$paddin-right-mobile;
    }

    .header__article,
    .header__wrapper div {
        padding-left: 40px;
        padding-right: 40px;
    }
 }