@import "./variable.scss";

.masthead {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.masthead__title {
    font-weight: 800;
    flex-basis: 50%;
}

.header__intro--heading,
.header__article--heading,
.masthead__title {
    font-size: 24px;
}

.header__article,
.header__wrapper div,
.header figure,
.masthead {
    padding-left: 10px;
    padding-right: 10px;
}

.header__intro,
.header__intro--heading,
.header__article--heading,
.header__form--label,
.form__button {
    font-weight: 500;
}

.header__intro,
.header__article--paragraph {
    line-height: 18px;
}

.header__intro {
    color: $primary-color;
    font-size: 12px;
}

.header__intro--heading,
.header__article--heading {
    line-height: 36px;
    color: $heading-color;
    margin: 0;
}

.header figure {
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    margin-bottom: 22px;
}

.header__image {
    border-radius: 18px;
}

.header__article--paragraph {
    font-weight: 400;
    font-size: 12px;
    color: $paragraph-color;
    margin-top: 33px;
    margin-bottom: 33px;
}

 @media(min-width: 300px) {
    main {
        margin-top: 48px;
    }

    .masthead,
    .header figure {
        padding-left: $padding-left-mobile;
        padding-right:$padding-right-mobile;
    }

    .header__article,
    .header__wrapper div {
        padding-left: 40px;
        padding-right: 40px;
    }
 }


 @media (min-width: 950px) {
    .masthead__title {
        font-size: 36px;
        line-height: 53px;
    }

    .header__article,
    .header__wrapper div {
        padding-left: 227px;
        padding-right: 227px;
    }

    .header__wrapper div {
        max-width: 543px;
    }

    .header__intro {
        font-size: 18px;
        line-height: 27px;
    }

    .header__intro--heading {
        font-size: 48px;
        line-height: 72px;
    }

    .masthead,
    .header figure {
        padding-left: $padding-left-desktop;
        padding-right: $padding-right-desktop;
    }

    .header__article {
        max-width: 366px
    }

    .header__article--heading {
        font-size: 48px;
        line-height: 72px;
    }

    .header__article--paragraph {
        font-size: 18px;
        line-height: 27px;
    }
}