@import "./variable.scss";


.section__service--heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: $heading-color;
}

.card-button {
    @include card-button;
}

section {
    margin-top: 51px;
}

section article {
    margin-top: 43px;
    margin-bottom: 43px;
}

.section__service article:hover .card {
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
    border-radius: 24px;
    transition: box-shadow ease-in .2s;
}

.section__service article:hover .card,
.section__service article .card {
    padding-bottom: 43px;
    padding-top: 43px;
}

.article__design--heading,
.article__front-end--heading,
.article__back-end--heading {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: $heading-color;
}

.article__design--paragraph,
.article__front-end--paragraph,
.article__back-end--paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $paragraph-color;
    margin-top: 30px;
    margin-bottom: 30px;
}

.section__service article,
.section__service .card {
    padding-left: 5px;
    padding-right: 5px;
}

.section__service article button {
    background: $light-grey;
    border: solid 1px $light-grey;
    color: #828282;
}

 .section__service article:hover button  {
    background-color: $primary-color;
    color: #FFFFFF;
    border: 1px solid $primary-color;
}

.section__service article:hover button,
.section__service article button {
    transition: all ease-in .2s;
}

.section__service .card img {
    max-width: 27px;
    padding: 10px;
    border-radius: 8px;
}


@media (min-width: 300px) {
    section {
        margin-top: 102px;
    }

    .section__service article {
        padding-left: 10px;
        padding-right: 10px;
    }

    .section__service article,
    .section__service article:hover {
        margin-top: 86px;
        margin-bottom: 86px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .section__service article .card {
        padding-left: 34px;
        padding-right: 34px;  
    }

    .section__service .card img {
        max-width: 27px;
        padding: 20px;
        border-radius: 16px;
    }
}

@media (min-width: 950px) {
    .section__service {
        margin-top: 200px;
        margin-bottom: 200px;
        padding-left: 165px;
        padding-right: 165px;
    }

    .section__service--wrapper {
        display: flex;
        flex-direction: row;
    }
}