// Mixins
@mixin list-reset {
    list-style: none;
    padding: 0;
}

@mixin icon-common-props {
        background-repeat: no-repeat;
        background-size: contain;
}

// Images and icons path
$icon-path:"../icons/";

// Color and background

$primary-color: #2D9CDB;
$white: #F2F2F2;
$padding-left-mobile: 10px;
$paddin-right-mobile: 19px;