body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: #333333;
  margin: auto; }

ul {
  list-style: none;
  padding: 0; }

button,
a {
  cursor: pointer; }

img,
button,
input {
  width: 100%; }

.masthead {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.masthead__title {
  font-weight: 800; }

.header__intro--heading,
.header__article--heading,
.masthead__title {
  font-size: 24; }

.header__article,
.header__wrapper div,
figure,
.masthead {
  padding-left: 10px;
  padding-right: 10px; }

.header__intro,
.header__intro--heading,
.header__article--heading,
.header__form--label,
.form__button {
  font-weight: 500; }

.header__intro,
.header__article--paragraph {
  line-height: 18px; }

.header__intro {
  color: #2D9CDB;
  font-size: 12px; }

.header__intro--heading,
.header__article--heading {
  line-height: 36px;
  color: #333333;
  margin: 0; }

.header figure {
  margin-left: auto;
  margin-right: auto;
  margin-top: 22px;
  margin-bottom: 22px; }

.header__image {
  border-radius: 18px; }

.header__article--paragraph {
  font-weight: normal;
  font-size: 12px;
  color: #4F4F4F;
  margin-top: 33px;
  margin-bottom: 33px; }

.header__form--label {
  font-size: 10px;
  line-height: 15px;
  color: #828282; }

.form__button,
.form__wrapper {
  border-radius: 12px; }

.form__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #F2F2F2;
  height: 47px;
  padding-left: 19px;
  padding-right: 4px; }

.header__input,
.form__button {
  height: 100%;
  max-height: 39px; }

.header__input {
  border: solid 1px transparent;
  background-color: transparent; }

.form__button {
  font-size: 14px;
  line-height: 21px;
  color: #F2F2F2;
  background: #2D9CDB;
  border: solid 1px #2D9CDB;
  max-width: 71px; }

@media (min-width: 300px) {
  main {
    margin-top: 48px; }
  .masthead,
  .header figure {
    padding-left: 10px;
    padding-right: 19px; }
  .header__article,
  .header__wrapper div {
    padding-left: 40px;
    padding-right: 40px; } }

.navigation {
  background-image: url("../icons//menu.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px; }

.navigation__list {
  display: none; }

@media (min-width: 300px) {
  .navigation {
    background-size: 100%; } }

.section__service--heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #333333; }

.card-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  max-width: 116px;
  height: 100%;
  min-height: 42px;
  border-radius: 12px; }

section {
  margin-top: 51px; }

section article {
  margin-top: 43px;
  margin-bottom: 43px; }

article:nth-child(odd) .card {
  background: #FFFFFF;
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  border-radius: 24px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 43px;
  padding-top: 43px; }

.article__design--heading,
.article__front-end--heading,
.article__back-end--heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #333333; }

.article__design--paragraph,
.article__front-end--paragraph,
.article__back-end--paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4F4F4F;
  margin-top: 30px;
  margin-bottom: 30px; }

.section__service article:nth-child(even) {
  padding-left: 10px;
  padding-right: 10px; }

.section__service article:nth-child(even) button {
  background: #E0E0E0;
  border: solid 1px #E0E0E0;
  color: #828282; }

.section__service .card img {
  max-width: 27px;
  padding: 10px;
  border-radius: 8px; }

@media (min-width: 300px) {
  section {
    margin-top: 102px; }
  .section__service article {
    margin-top: 86px;
    margin-bottom: 86px; }
  article:nth-child(odd) .card {
    padding-left: 34px;
    padding-right: 34px; }
  .section__service .card img {
    max-width: 27px;
    padding: 20px;
    border-radius: 16px; }
  .section__service article:nth-child(even) {
    padding-left: 49px;
    padding-right: 49px; } }

.section__service--heading {
  padding-left: 10px;
  padding-right: 10px; }

.create_icon {
  background-color: #2D9CDB; }

@media (min-width: 300px) {
  .section__service--heading {
    padding-left: 49px;
    padding-right: 49px; } }

.article__front-end {
  padding-left: 5px;
  padding-right: 5px; }

.code_icon {
  background-color: #27AE60; }

.article__front-end--button {
  background-color: #2D9CDB;
  color: #FFFFFF;
  border: 1px solid #2D9CDB; }

@media (min-width: 300px) {
  .article__front-end {
    padding-left: 15px;
    padding-right: 15px; } }

.storage_icon {
  background-color: #EB5757; }
