body {
  margin: auto; }

ul {
  list-style: none;
  padding: 0; }

img,
button,
input {
  width: 100%; }

.masthead {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.header__intro,
.header__intro--heading,
.header__article--heading,
.header__form--label,
.form__button {
  font-weight: 500; }

.header__intro,
.header__article--paragraph {
  line-height: 18px; }

.header__intro {
  color: #2D9CDB;
  font-size: 12px; }

.header__intro--heading,
.header__article--heading {
  font-size: 24px;
  line-height: 36px;
  color: #333333; }

.header__image {
  border-radius: 18px; }

.header__article--paragraph {
  font-weight: normal;
  font-size: 12px;
  color: #4F4F4F; }

.header__form--label {
  font-size: 10px;
  line-height: 15px;
  color: #828282; }

.form__button,
.form__wrapper {
  border-radius: 12px; }

.form__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #F2F2F2;
  height: 47px;
  padding-left: 19px; }

.header__input {
  border: solid 1px transparent;
  background-color: transparent; }

.form__button {
  height: 100%;
  font-size: 14px;
  line-height: 21px;
  color: #F2F2F2;
  background: #2D9CDB;
  border: solid 1px #2D9CDB;
  max-width: 71px;
  max-height: 39px; }

.navigation {
  background-image: url("../icons//menu.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px; }

.navigation__list {
  display: none; }
